ACTOR_PEM: /var/lib/relay/actor.pem
REDIS_URL: redis://redis:6379

RELAY_BIND: 127.0.0.1:8080
RELAY_DOMAIN: relay.toot.yukimochi.jp
RELAY_SERVICENAME: YUKIMOCHI Toot Relay Service
JOB_CONCURRENCY: 50
RELAY_SUMMARY: Taken from https://github.com/yukimochi/Activity-Relay

# RELAY_ICON: https://
# RELAY_IMAGE: https://
